<h1>Listing products</h1>

<%= form_tag(:controller => "merchants", :action => "set_checkout", :method => "post")  do  %>
   <%= label_tag "Price" %>
    <%= text_field_tag :value %>
    <%= submit_tag("Set Checkout") %>
<% end %>

<%= form_tag(:controller => "merchants", :action => "get_checkout", :method => "post")  do  %>
   <%= label_tag "Token" %>
    <%= text_field_tag :token %>
    <%= submit_tag("Get Checkout") %>
<% end %>

<%= form_tag(:controller => "merchants", :action => "do_checkout", :method => "post")  do  %>
   <%= label_tag "Token" %>
    <%= text_field_tag :token %>
    <%= label_tag "Payer" %>
    <%= text_field_tag :payerID %>
    <%= label_tag "Price" %>
    <%= text_field_tag :value %>
    <%= submit_tag("Do Checkout") %>
<% end %>

<%= form_tag(:controller => "merchants", :action => "do_capture", :method => "post")  do  %>
   <%= label_tag "TransactionID" %>
    <%= text_field_tag :transactionID %>
    <%= label_tag "Price" %>
    <%= text_field_tag :value %>
    <%= submit_tag("Do Capture") %>
<% end %>

<%= form_tag(:controller => "merchants", :action => "do_void", :method => "post")  do  %>
   <%= label_tag "TransactionID" %>
    <%= text_field_tag :transactionID %>
    <%= submit_tag("Do Void") %>
<% end %>

<br/>
<h1>Listing Transactions</h1>


<table>
  <tr>
    <th>ID</th>
    <th>User Name</th>
    <th>User Gmail</th>
    <th>Token</th>
    <th>Transaction ID</th>
    <th>Product ID</th>
    <th>Value</th>
    <th>State</th>
    <th>Color</th>
    <th>Size</th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.id %></td>
    <td><%= transaction.user_name %></td>
    <td><%= transaction.user_email %></td>
    <td><%= transaction.token %></td>
    <td><%= transaction.transaction_id %></td>
    <td><%= transaction.product_id %></td>
    <td><%= transaction.value %></td>
    <td><%= transaction.payment_state %></td>
    <td><%= transaction.color %></td>
    <td><%= transaction.size %></td>

    <td><%= form_tag(:controller => "merchants", :action => "do_capture", :method => "post")  do  %>
      <%= hidden_field_tag 'transaction_id', transaction.transaction_id %>
      <%= hidden_field_tag 'value', transaction.value %>
      <%= submit_tag("Capture") %>
    <% end %></td>
     <td><%= form_tag(:controller => "merchants", :action => "do_void", :method => "post")  do  %>
      <%= hidden_field_tag 'transaction_id', transaction.transaction_id %>
      <%= submit_tag("Void") %>
    <% end %></td>
  </tr>
<% end %>
</table>

<br />

