<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<%= form_tag(:controller => "adaptives", :action => "create", :method => "post")  do  %>
   
  <!-- 
   <%= label_tag "Price" %>
    <%= text_field_tag :price %>
  	
  	<%= label_tag "My email" %>
    <%= text_field_tag :email %>
  -->
    <%= submit_tag("Buy") %>
<% end %>

<%= form_tag(:controller => "adaptives", :action => "preapproval_details", :method => "post")  do  %>
    
    <%= label_tag "Key" %>
    <%= text_field_tag :preapprovalKey %>
  
  <%= submit_tag("Preapproval Details") %>
<% end %>

<%= form_tag(:controller => "adaptives", :action => "confirm", :method => "post")  do  %>
    
    <%= label_tag "Key" %>
    <%= text_field_tag :preapprovalKey %>
  
  <%= submit_tag("Confirm") %>
<% end %>

<%= form_tag(:controller => "adaptives", :action => "cancel", :method => "post")  do  %>
    
    <%= label_tag "Key" %>
    <%= text_field_tag :preapprovalKey %>
  
  <%= submit_tag("Cancel") %>
<% end %>

<%= form_tag(:controller => "adaptives", :action => "pay", :method => "post")  do  %>
    
    <%= label_tag "Key" %>
    <%= text_field_tag :preapprovalKey %>

    <%= label_tag "Receiver" %>
    <%= text_field_tag :receiver %>
  
  <%= submit_tag("Pay") %>
  <% end %>

<%= form_tag(:controller => "adaptives", :action => "payment_details", :method => "post")  do  %>
    
    <%= label_tag "Key" %>
    <%= text_field_tag :preapprovalKey %>
  
  <%= submit_tag("Payment Details") %>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
